html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
table {
    width: 100%;
    height: 100vh;
    border-collapse: collapse;
    border: 1px solid black;
}
td {
    width: 50%;
    text-align: center;
    font-size: 2vw;
    border: 1px solid black;
    vertical-align: middle;
    padding: 2vw;
}
.first-cell {
    background-color: #92ec86;
}
.second-cell {
    background-color: #f673ef; 
}